// Définition des couleurs dans un map SASS
@use "../css/base/colors";
@use "sass:math";

// SVG gradient heart
#stopGradPrimary {
  stop-color: colors.$svgPrimary;
}
#stopGradSecondary {
  stop-color: colors.$svgSecondary;
}


.heart-container {
    width: 100px;
    height: 100px;
  }
  
  .heart {
    width: 70%;
    height: 70%;

  }
  
  .heart-shape{
    fill: none;
    stroke: black;
    stroke-width: 5;
    //opacity: 1;
    transition: all 0.5s ease-in-out;
    
    &:hover {
      //stroke-opacity: 0;
      //fill-opacity: 1;
      fill: url(#heart-gradient);
    }
  }
  

  .coeurKhaos {
    color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }    