@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
h1, h2, h3 {
  font-family: "roboto";
  font-size: 1.2rem;
}

p {
  font-family: 1rem;
}

.buttonValid {
  color: #ffffff;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;
}
.buttonValid:hover,
.buttonValid :active {
  opacity: 0.8;
  transition: opacity 250ms;
}

.addFavorite {
  background-color: #9747ff;
}

.new {
  display: block;
  position: absolute;
  width: 80px;
  right: 15px;
  text-align: center;
  top: 15px;
  z-index: 10;
  padding: 10px;
  background-color: #99e2d0; /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
  color: #008766;
}

.fav {
  display: block;
  position: absolute;
  width: 25px;
  right: 15px;
  text-align: center;
  bottom: 15px;
  z-index: 10;
  padding: 10px;
  /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
}

.JoliCoeur {
  width: 25px;
}

.listWizard {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px 6px;
}
.listWizard li {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 30px;
  padding: 30px;
  margin: 5px 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.listWizard li span {
  display: block;
  color: #ffffff;
  background-color: #9356dc;
  text-align: center;
  padding: 3px;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  margin-left: -43px;
}
.listWizard li img {
  height: 22px;
  padding: 0px 15px;
}

.listDishes {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
}
.listDishes li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin: 0.7vh;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.listDishes li div {
  height: 100%;
  align-content: space-between;
}
.listDishes li div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}
.listDishes li div:nth-child(2) {
  display: flex;
  height: 33px;
  min-width: 60px;
}
.listDishes li div:last-child {
  background-color: #008766;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: -30px;
  margin-right: -75px;
  background: #99e2d0;
  transition: margin-right 500ms ease-in-out;
}
.listDishes li div:last-child:hover {
  animation-delay: 1s;
}
.listDishes li div span {
  display: flex;
}
.listDishes li div span[itemprop=name] {
  font-weight: bold;
}
.listDishes li div span[itemprop=description] {
  font-weight: lighter;
  white-space: nowrap;
  overflow-wrap: break-word;
  font-size: 0.8rem;
}
.listDishes li div span[itemprop=offers] {
  display: flex;
  align-content: end;
  align-items: end;
}

.card {
  display: flex;
  align-self: center;
  width: 90%;
  flex-basis: 90%;
  margin-bottom: 15px;
  position: relative;
}
.card a {
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 0.1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0px;
  text-decoration: none;
  color: black;
}
.card a:active {
  color: black;
}
.card a:visited {
  color: black;
}
.card h3 {
  margin: 5px 0px 0px;
  padding: 0px 10px 0px 20px;
  height: auto;
}
.card address {
  margin: 0px 0px 10px;
  padding: 0px 10px 0px 20px;
  height: auto;
}
.card img {
  aspect-ratio: 1.7777777778;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card svg {
  width: 25px;
  height: 25px;
  display: block;
}
.card .icone {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 25px;
  width: 25px;
  fill: none;
  stroke: currentColor;
  z-index: 10;
}
.card .icone:hover {
  opacity: 0.8;
  transition: opacity 850ms;
  color: color-mix(in srgb, color percentage, color percentage);
  fill: #9747ff;
}

i {
  align-items: center;
}
i svg {
  width: 25px;
  height: 25px;
  display: block;
}

.icone {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  opacity: 1;
  height: 25px;
  width: 25px;
  fill: none;
  stroke: currentColor;
  z-index: 10;
}
.icone:hover {
  opacity: 0.8;
  transition: opacity 850ms;
  color: #9747ff;
  fill: #9747ff;
}

.icone-title {
  display: flex;
  align-items: center;
  opacity: 1;
  fill: none;
  stroke: currentColor;
  z-index: 10;
}
.icone-title:hover {
  opacity: 0.8;
  transition: opacity 850ms;
  color: #9747ff;
  fill: #9747ff;
}

* {
  /* Rules */
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 1rem;
}

html,
body {
  margin: 0;
  background-color: #ffffff;
}

svg {
  display: none;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 2 fr);
  gap: 20px;
  place-items: center;
  background-color: white;
  min-height: 60px;
}
header .logo {
  place-items: center;
  padding: 20px;
}
header nav {
  justify-self: start;
}
@media screen and (min-width: 767px) {
  header {
    min-height: 90px;
  }
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

/* === SECTION LOCATION ============================================ */
#location {
  display: grid;
  place-items: center;
  gap: 20px;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2);
}
#location p {
  display: flex;
  align-items: center;
}
#location p img {
  padding-right: 10px;
}
@media screen and (min-width: 767px) {
  #location {
    box-shadow: none;
  }
}

/* === SECTION EXPLORATION ========================================= */
#exploration {
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
}
#exploration h1 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
#exploration p {
  text-align: center;
}

/* === SECTION FONCTIONNEMENT ====================================== */
#fonctionnement {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 10px;
}
#fonctionnement h2 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 10px 0px 0px 10px;
}
@media screen and (min-width: 767px) {
  #fonctionnement {
    width: 100%;
    margin: 0 auto;
  }
  #fonctionnement h2 {
    max-width: 1080px;
    margin: 5px auto 10px;
  }
  #fonctionnement .listWizard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1024px;
    margin: 0px auto;
  }
  #fonctionnement .listWizard li {
    max-width: 30%;
  }
}

/* === SECTION RESTAURANT ========================================== */
#restaurant {
  background-color: #f6f6f6;
}
#restaurant div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
#restaurant h2 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 10px 0px 10px 10px;
  grid-area: title;
}
@media screen and (min-width: 767px) {
  #restaurant div {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 0vw 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1vw;
    grid-template-areas: "title title" "card1 card2" "card3 card4";
  }
  #restaurant .card img {
    aspect-ratio: 2.618;
  }
  #restaurant .card:nth-child(2) {
    grid-area: card1;
  }
  #restaurant .card:nth-child(3) {
    grid-area: card2;
  }
  #restaurant .card:nth-child(4) {
    grid-area: card3;
  }
  #restaurant .card:nth-child(5) {
    grid-area: card4;
  }
}

footer {
  background-color: #353535;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
  padding: 25px;
}
footer nav li {
  list-style-type: none;
  padding-top: 10px;
}
footer nav li img {
  padding-right: 10px;
}
footer nav li img + a {
  font-weight: 500;
}
footer nav a {
  color: white;
  text-decoration: none;
}
footer nav a:link {
  color: white;
}
footer nav a:visited {
  color: white;
}
footer #logo-footer {
  width: 130px;
}
@media screen and (min-width: 767px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer nav,
  footer ul, footer li {
    display: inline-flex;
    padding-right: 10px;
    margin-right: 16px;
  }
}/*# sourceMappingURL=home.css.map */