@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
h1, h2, h3 {
  font-family: "roboto";
  font-size: 1.2rem;
}

p {
  font-family: 1rem;
}

.buttonValid {
  color: #ffffff;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;
}
.buttonValid:hover {
  opacity: 0.8;
  transition: opacity 500ms, box-shadow 350ms;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.4);
}

.addFavorite {
  background-color: #9747ff;
}

.new {
  display: block;
  position: absolute;
  width: 80px;
  right: 15px;
  text-align: center;
  top: 15px;
  z-index: 10;
  padding: 10px;
  background-color: #99e2d0; /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
  color: #008766;
}

.fav {
  display: block;
  position: absolute;
  width: 25px;
  right: 15px;
  text-align: center;
  bottom: 15px;
  z-index: 10;
  padding: 10px;
  /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
}

.coeurKhaos {
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.coeurKhaos:hover {
  color: linear-gradient(#9356DC, #FF79DA);
  font-weight: 600;
  transform: scale(1.2);
  background-clip: text;
}

.listWizard {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px 6px;
}
.listWizard li {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 30px;
  padding: 30px;
  margin: 5px 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.listWizard li span {
  display: block;
  color: #ffffff;
  background-color: #9356dc;
  text-align: center;
  padding: 3px;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  margin-left: -43px;
}
.listWizard li img {
  height: 22px;
  padding: 0px 15px;
}

.listDishes {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
}
.listDishes li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin: 0.7vh;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.listDishes li div {
  height: 100%;
  align-content: space-between;
}
.listDishes li div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listDishes li div:nth-child(1) span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listDishes li div:nth-child(2) {
  display: flex;
  height: 33px;
  min-width: 60px;
}
.listDishes li div:last-child {
  background-color: #008766;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: -30px;
  margin-right: -75px;
  background: #99e2d0;
  transition: margin-right 500ms ease-in-out;
}
.listDishes li div:last-child:hover {
  animation-delay: 1s;
}
.listDishes li div span[itemprop=name] {
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listDishes li div span[itemprop=description] {
  font-size: 0.8rem;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listDishes li div span[itemprop=offers] {
  display: flex;
  align-content: end;
  align-items: end;
}

.card {
  display: flex;
  align-self: center;
  width: 90%;
  flex-basis: 90%;
  margin-bottom: 15px;
  position: relative;
}
.card a {
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 0.1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0px;
  text-decoration: none;
  color: black;
}
.card a:active {
  color: black;
}
.card a:visited {
  color: black;
}
.card h3 {
  margin: 5px 0px 0px;
  padding: 0px 10px 0px 20px;
  height: auto;
}
.card address {
  margin: 0px 0px 10px;
  padding: 0px 10px 0px 20px;
  height: auto;
}
.card img {
  aspect-ratio: 1.7777777778;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card svg {
  width: 25px;
  height: 25px;
  display: block;
}
.card .icone {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 25px;
  width: 25px;
  fill: none;
  stroke: currentColor;
  z-index: 10;
  /*&:hover {
    opacity: 0.8;
    transition: opacity 850ms;
    color: color-mix(in srgb, color percentage, color percentage);
    fill: colors.$heart-primary;
  }*/
}
.card .icone__Coeur {
  font-size: 1.5rem;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  /*
  &:hover {
    opacity: 0.8;
    transition: opacity 850ms;
    color: color-mix(in srgb, color percentage, color percentage);
    fill: colors.$heart-primary;
  }*/
}

#stop-1 {
  stop-color: #9356dc;
}

#stop-2 {
  stop-color: #ff79da;
}

i {
  align-items: center;
}
i svg {
  width: 25px;
  height: 25px;
  display: block;
}

.icone {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 25px;
  width: 25px;
  z-index: 10;
  /*
  &:hover {
    opacity: 0.8;
    transition: opacity 850ms;
    color: colors.$heart-primary;
    fill: colors.$heart-primary;
  }
  */
}
.iconePetitCoeur {
  position: relative;
  width: 25px;
}
.iconePetitCoeur .heart-stroke {
  stroke: black;
  stroke-width: 5;
  fill: transparent;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.iconePetitCoeur .heart-stroke:hover {
  stroke: transparent;
  opacity: 0;
}
.iconePetitCoeur .heart-shape {
  stroke: url(#heart-gradient) #9356dc;
  stroke-width: 5;
  fill: url(#heart-gradient) #ff79da;
}

.icone-title {
  display: flex;
  align-items: center;
  opacity: 1;
  fill: none;
  stroke: currentColor;
  z-index: 10;
}
.icone-title:hover {
  opacity: 0.8;
  transition: opacity 850ms;
  color: #9356dc;
  fill: #9356dc;
}

/* heart button */
.heart-btn {
  font-size: 1.5rem;
}
.heart-btn i {
  cursor: pointer;
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
  position: relative;
  padding: 0 1.5px;
}
.heart-btn i::after {
  content: "";
  position: absolute;
  width: 0px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  opacity: 1;
  background-color: #9356dc;
  border-radius: 100%;
}
.heart-btn i:hover {
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  animation: fade 0.6s forwards;
}
@keyframes fade {
  from {
    -webkit-text-stroke: 1.5px black;
    background: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
    background-clip: text;
    -webkit-text-stroke: 1.5px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.heart-btn i:hover::after {
  animation: circle 0.6s ease-out forwards;
}
@keyframes circle {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 50px;
    opacity: 0;
  }
}

* {
  /* Rules */
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 1rem;
}

html,
body {
  margin: 0;
  background-color: #ffffff;
}

svg {
  display: none;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 2 fr);
  gap: 20px;
  place-items: center;
  background-color: white;
  min-height: 60px;
}
header .logo {
  place-items: center;
  padding: 20px;
}
header nav {
  justify-self: start;
  margin-left: 15px;
}
@media screen and (min-width: 767px) {
  header {
    min-height: 90px;
  }
}

.opening {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #353535;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: PageTransition 1s forwards;
  animation-delay: 5s;
}
.opening--fast {
  animation-delay: 1s;
}
.opening svg {
  display: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.o, .h, .m, .y, .f, .o2, .o3, .d {
  fill: transparent;
  stroke: #ff79da;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: Dash 3s forwards, FadeOut 600ms forwards;
}

.o {
  animation-delay: 1s, 2.2s;
}

.h {
  animation-delay: 1.2s, 2.3s;
}

.m {
  animation-delay: 1.3s, 2.4s;
}

.y {
  animation-delay: 1.4s, 2.5s;
}

.f {
  animation-delay: 1.5s, 2.6s;
}

.o2 {
  animation-delay: 1.6s, 2.7s;
}

.o3 {
  animation-delay: 1.7s, 2.8s;
}

.d {
  animation-delay: 1.8s, 2.9s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loader__bar {
  width: 10px;
  height: 0;
  background-image: linear-gradient(#9356dc, #ff79da);
  margin: 0 0.2rem;
  animation: StartBars 1000ms forwards ease-in-out, Bars 800ms backwards infinite ease-in-out alternate, FadeOut 500ms forwards;
}
.loader__bar--1 {
  animation-delay: 3.5s, 200ms, 5.3s;
}
.loader__bar--1.fast {
  animation-delay: 500ms, 200ms, 2.7s;
}
.loader__bar--2 {
  animation-delay: 3.5s, 400ms, 5.3s;
}
.loader__bar--2.fast {
  animation-delay: 500ms, 400ms, 2.7s;
}
.loader__bar--3 {
  animation-delay: 3.5s, 600ms, 5.3s;
}
.loader__bar--3.fast {
  animation-delay: 500ms, 600ms, 2.7s;
}
.loader__bar--4 {
  animation-delay: 3.5s, 800ms, 5.3s;
}
.loader__bar--4.fast {
  animation-delay: 500ms, 800ms, 2.7s;
}
.loader__bar--5 {
  animation-delay: 3.5s, 1000ms, 5.3s;
}
.loader__bar--5.fast {
  animation-delay: 500ms, 1000ms, 2.7s;
}

@keyframes PageTransition {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    position: fixed;
  }
  100% {
    opacity: 0;
    display: none;
    position: relative;
  }
}
@keyframes StartBars {
  to {
    height: 50px;
  }
}
@keyframes Bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes Dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes FadeOut {
  to {
    opacity: 0;
  }
}
:root {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

/* === SECTION LOCATION ============================================ */
#location {
  display: grid;
  place-items: center;
  gap: 20px;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2);
}
#location p {
  display: flex;
  align-items: center;
}
#location p img {
  padding-right: 10px;
}
@media screen and (min-width: 767px) {
  #location {
    box-shadow: none;
  }
}

/* === SECTION EXPLORATION ========================================= */
#exploration {
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
}
#exploration h1 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
@media screen and (min-width: 767px) {
  #exploration h1 {
    font-size: 40px;
  }
}
#exploration p {
  text-align: center;
}

/* === SECTION FONCTIONNEMENT ====================================== */
#fonctionnement {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 10px;
}
#fonctionnement h2 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 10px 0px 0px 10px;
}
@media screen and (min-width: 767px) {
  #fonctionnement {
    width: 100%;
    margin: 0 auto;
  }
  #fonctionnement h2 {
    font-size: 1.6rem;
    max-width: 1080px;
    margin: 5px auto 10px;
  }
  #fonctionnement .listWizard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1024px;
    margin: 0px auto;
  }
  #fonctionnement .listWizard li {
    max-width: 30%;
  }
}

/* === SECTION RESTAURANT ========================================== */
#restaurant {
  background-color: #f6f6f6;
}
#restaurant div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
#restaurant h2 {
  width: 100%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 10px 0px 10px 10px;
  grid-area: title;
}
@media screen and (min-width: 767px) {
  #restaurant div {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 0vw 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1vw;
    grid-template-areas: "title title" "card1 card2" "card3 card4";
  }
  #restaurant .card img {
    aspect-ratio: 2.618;
  }
  #restaurant .card:nth-child(2) {
    grid-area: card1;
  }
  #restaurant .card:nth-child(3) {
    grid-area: card2;
  }
  #restaurant .card:nth-child(4) {
    grid-area: card3;
  }
  #restaurant .card:nth-child(5) {
    grid-area: card4;
  }
}

footer {
  background-color: #353535;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
  padding: 25px;
}
footer nav ul {
  padding-left: 0px;
}
footer nav ul li {
  list-style-type: none;
  padding-top: 10px;
  white-space: nowrap;
}
footer nav ul li img {
  padding-right: 10px;
}
footer nav ul li img + a {
  font-weight: 500;
}
footer nav ul a {
  color: white;
  text-decoration: none;
}
footer nav ul a:link {
  color: white;
}
footer nav ul a:visited {
  color: white;
}
footer #logo-footer {
  width: 130px;
}
@media screen and (min-width: 767px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
  footer nav,
  footer ul, footer li {
    display: inline-flex;
    padding-right: 10px;
    margin-right: 16px;
  }
}/*# sourceMappingURL=home.css.map */