//============================================= OC-03 OHMYFOOD =======//
// MAIN ==============================================================//
//==============================================================2023==//

// TYPO ----------------------------------------- NEPHA CODE -------- //
@use "base/typo";

// COLORS ------------------------------------------------- NEPHA --- //
@use "utils/colors" as colors;

// TEMPLATE --------------------------------------------------------- //
@use "layouts/header";
@use "layouts/footer";

/* PAGES RULES ------------------------------------------------------------*/
* {
  /* Rules */
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 1rem;
}

html,
body {
  margin: 0;
  background-color: colors.$background-site;
}

//=========================================== OhMyF°_°D ==============//
// HN TITLE ==========================================================//
//====================================================================//
h1,
h2,
h3 {
  font-family: "roboto";
  font-size: 1.2rem;
}
//=========================================== OhMyF°_°D ==============//
// ELEMENTS ==========================================================//
//====================================================================//

/* BUTTONS -----------------------------------------------------------*/

//code button here

/* FAVORITES ---------------------------------------------------------*/

//code Favorite heart icon here

/* INFO -------------------------------------------------------------*/

//code nouveau stiker here

/* BUTTONS -----------------------------------------------------------*/

/* BUTTONS -----------------------------------------------------------*/

//=========================================== OhMyF°_°D ==============//
// MEAL LIST =========================================================//
//====================================================================//

//code meal list here
