//============================================= OC-03 OHMYFOOD =======//
// MAIN ==============================================================//
//==============================================================2023==//

// TYPO ----------------------------------------- NEPHA CODE -------- //
@use "base/typo";

// COLORS ------------------------------------------------- NEPHA --- //
@use "utils/colors" as colors;

// TEMPLATE --------------------------------------------------------- //
@use "layouts/header";
@use "layouts/footer";
@use "pages/home";

/* PAGES RULES ------------------------------------------------------------*/
* {
  /* Rules */
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 1rem;
}

html,
body {
  margin: 0;
  background-color: colors.$background-site;
}
//
//==============================================================2023==//
