@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
h1, h2, h3 {
  font-family: "roboto";
  font-size: 1.2rem;
}

p {
  font-family: 1rem;
}

/* === SUR-CHARGE HEADER =========================================== */
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  place-items: center;
  background-color: white;
  min-height: 60px;
}
header .logo {
  place-items: center;
  padding: 20px;
}
header nav {
  justify-self: start;
}

/* === BANNER ============================================= */
#banner {
  width: 100%;
  position: sticky;
}
#banner img {
  aspect-ratio: 2.618;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 767px) {
  #banner {
    height: 200px;
  }
}

/* === MAIN ============================================= */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #f6f6f6;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  top: -50px;
  z-index: 20;
}
main h1 {
  font-family: "Shrikhand";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
main p {
  text-align: center;
}
@media screen and (min-width: 767px) {
  main {
    max-width: 1024px;
    top: 0;
    margin: 0 auto;
  }
}

/* === SECTION MENU ========================================= */
#menu {
  display: flex;
  justify-items: center;
  flex-direction: column;
}
#menu h2 {
  margin: 0.7vh;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
}
#menu h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #99e2d0;
}
#menu h2 .laNephEpicurienne {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
}
#menu p {
  text-align: center;
}
@media screen and (min-width: 767px) {
  #menu {
    justify-content: center;
  }
  #menu .laNephEpicurienne {
    justify-content: center;
    padding: 0 auto;
    width: 50%;
  }
}

/* === SECTION COMMANDE ========================================= */
#commande {
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
}
#commande p {
  text-align: center;
}

.buttonValid {
  color: #ffffff;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;
}

.addFavorite {
  background-color: #9747ff;
}

.new {
  display: block;
  position: absolute;
  width: 80px;
  right: 15px;
  text-align: center;
  top: 15px;
  z-index: 10;
  padding: 10px;
  background-color: #99e2d0; /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
  color: #008766;
}

.JoliCoeur {
  width: 30px;
}

.listWizard {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px 6px;
}
.listWizard li {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 30px;
  padding: 30px;
  margin: 5px 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
}
.listWizard li span {
  display: block;
  color: #ffffff;
  background-color: #9356dc;
  text-align: center;
  padding: 3px;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  margin-left: -43px;
}
.listWizard li img {
  height: 22px;
  padding: 0px 15px;
}

.listDishes {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
}
.listDishes li {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0.7vh;
  padding: 3%;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
  /*
  img {
    height: 22px;
    padding: 0px 15px;
  }*/
}
.listDishes li div {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-content: space-between;
}
.listDishes li div:nth-child(2) {
  justify-content: flex-end;
  align-items: flex-end;
}
.listDishes li div span {
  display: flex;
}
.listDishes li div span[itemprop=name] {
  font-weight: bold;
}
.listDishes li div span[itemprop=description] {
  font-weight: lighter;
  white-space: nowrap;
  overflow-wrap: break-word;
  font-size: 0.8rem;
}
.listDishes li div span[itemprop=offers] {
  display: flex;
  align-content: end;
  align-items: end;
}

.card {
  display: flex;
  align-self: center;
  width: 90%;
  flex-basis: 90%;
  margin-bottom: 15px;
  position: relative;
}
.card a {
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 0.1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0px;
  text-decoration: none;
  color: black;
}
.card a:active {
  color: black;
}
.card a:visited {
  color: black;
}
.card h3 {
  margin: 5px 0px 0px;
  padding: 0px 10px 0px 20px;
  height: auto;
}
.card address {
  margin: 0px 0px 10px;
  padding: 0px 10px 0px 20px;
  height: auto;
}
.card img {
  aspect-ratio: 1.7777777778;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

* {
  /* Rules */
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 1rem;
}

html,
body {
  margin: 0;
  background-color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 2 fr);
  gap: 20px;
  place-items: center;
  background-color: white;
  min-height: 60px;
}
header .logo {
  place-items: center;
  padding: 20px;
}
header nav {
  justify-self: start;
}
@media screen and (min-width: 767px) {
  header {
    min-height: 90px;
  }
}

footer {
  background-color: #353535;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
  padding: 25px;
}
footer nav li {
  list-style-type: none;
  padding-top: 10px;
}
footer nav li img {
  padding-right: 10px;
}
footer nav li img + a {
  font-weight: 500;
}
footer nav a {
  color: white;
  text-decoration: none;
}
footer nav a:link {
  color: white;
}
footer nav a:visited {
  color: white;
}
footer #logo-footer {
  width: 130px;
}
@media screen and (min-width: 767px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer nav,
  footer ul, footer li {
    display: inline-flex;
    padding-right: 10px;
    margin-right: 16px;
  }
}/*# sourceMappingURL=restaurant.css.map */