@use '../base/colors';
@use '../base/typo';

* {
    /* Rules */
    box-sizing: border-box;
    font-family: "roboto";
    font-size: 1rem;
  }
  
  html,
  body {
    margin: 0;
    background-color: colors.$background-test;
  }