//=========================================== OhMyF°_°D ==============//
// HEADER ============================================================//
//====================================================================//

header {
  display: grid;
  grid-template-columns: repeat(3, 2 fr);
  gap: 20px;
  place-items: center;
  background-color: white;
  min-height: 60px;
  & .logo {
    place-items: center;
    padding: 20px;
  }
  @media screen and (min-width: 767px) {
    min-height: 90px;
  
  }
}
