//============================================= OC-03 OHMYF°_°D ======//
// COLORS ============================================================//
//==================================== By Nepha = ==============2023==//

$background-site: white;
$background-footer: #353535;
$button-primary: #9356dc;
$action-primary: #99e2d0;
$action-secondary: #008766;

$fall-primary: #003a68;
$fall-secondary: #89c8fa;

$heart-primary: #9747ff;

//== please @use <nameSpace> colors ============== DID WE ARE ==2023==//