//============================================= OC-03 OHMYF°_°D ======//
// COLORS ============================================================//
//==================================== By Nepha ================2023==//

// Variable test -----------------------------------------------------//
$background-test: magenta !default;
$background-location: #eaeaea !default;
$background-exploration: #f6f6f6 !default;
// Variable Colors ---------------------------------------------------//
$backgroundSite: #ffffff !default;
$backgroundGlobal: #ffffff !default;
$backgroundFooter: #353535 !default;
$backgroundGlobalElement: #9356dc !default;
// Variable Buttons --------------------------------------------------//
$buttonGradientStart: #9356dc !default;
$buttonGradientEnd: #ff79da !default;
$buttonTextColor: #ffffff !default;
$buttonShadowColor: hsla(0, 0%, 0%, 20%) !default;
$buttonShadowValues: 0px 0px 10px 0px;
// Variable Buttons --------------------------------------------------//
$action-primary: #99e2d0 !default;
$action-secondary: #008766 !default;
$buttonGradientStart: #9356dc !default;
$fall-primary: #003a68 !default;
$fall-secondary: #89c8fa !default;
$heart-primary: #9747ff !default;

//== please @use <nameSpace> colors ============== DID WE ARE ==2023==//
