//============================================= OC-03 OHMYF°_°D ======//
// COLORS ============================================================//
//==================================== By Nepha ================2023==//

// Variable test -----------------------------------------------------//
$background-test: magenta !default;
$background-location: #eaeaea !default;
// Variable Colors ---------------------------------------------------//
$background-site: white !default;
$background-footer: #353535 !default;
// Variable Buttons --------------------------------------------------//
$button-primary: #9356dc !default;
$action-primary: #99e2d0 !default;
$action-secondary: #008766 !default;
$fall-primary: #003a68 !default;
$fall-secondary: #89c8fa !default;
$heart-primary: #9747ff !default;

//== please @use <nameSpace> colors ============== DID WE ARE ==2023==//
