//============================================= OC-03 OHMYF°_°D ======//
// BUTTON ============================================================//
//==================================== By Nepha ================2023==//
@use "../base/colors";

// VALID ============================= By Nepha ================2023==//
@mixin buttonGradient($start, $end) {
  background: linear-gradient(175deg, $start 0%, $end 100%);
}
// Définition d'un mixin pour l'ombre
@mixin buttonShadow($color, $values) {
  box-shadow: $values $color;
}

.buttonValid {
  color: colors.$buttonTextColor;
  //background-color mixin
  @include buttonGradient(
    colors.$buttonGradientStart,
    colors.$buttonGradientEnd
  );
  //box-shadow mixin
  @include buttonShadow(colors.$buttonShadowColor, colors.$buttonShadowValues);
  //rules css
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;

  //:hover, :active nesting anination
  &:hover,
  :active {
    opacity: 0.8;
    transition: opacity 250ms;
  }
}
// ADD =============================== By Nepha ================2023==//
.addFavorite {
  background-color: colors.$heart-primary;
}

// NEW =============================== By Nepha ================2023==//
@mixin buttonNew($start, $end) {
  background: linear-gradient(175deg, $start 0%, $end 100%);
}
//refaire le mixin
.new {
  //rules css
  display: block;
  position: absolute;
  width: 80px;
  right: 15px;
  text-align: center;
  top: 15px;
  z-index: 10;
  padding: 10px;
  background-color: #99e2d0; /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
  color: #008766;
}

// JoliCoeur ========================== By Neah ================2023==//

.fav {
  //rules css
  display: block;
  position: absolute;
  width: 25px;
  right: 15px;
  text-align: center;
  bottom: 15px;
  z-index: 10;
  padding: 10px;
  /* Vert clair avec un peu de transparence */
  border-radius: 3px;
  padding: 5px 10px; /* Espace intérieur autour du texte */
  //color: #008766;
}

.JoliCoeur {
  width: 25px;
}

// LIST WIZARD ======================= By Nepha ================2023==//
.listWizard {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px 6px;
  li {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    height: 30px;
    padding: 30px;
    margin: 5px 10px;
    background-color: colors.$background-exploration;
    border-radius: 20px;

    span {
      display: block;
      color: colors.$buttonTextColor;
      background-color: colors.$backgroundGlobalElement;
      text-align: center;
      padding: 3px;
      min-height: 25px;
      min-width: 25px;
      border-radius: 50%;
      margin-left: -43px;
    }

    img {
      height: 22px;
      padding: 0px 15px;
    }
  }
}
// LIST WIZARD ======================= By Nepha ================2023==//
.listDishes {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    margin: 0.7vh;
    background-color: colors.$backgroundGlobal;
    border-radius: 20px;
    overflow: hidden;

    div {
      height: 100%;
      align-content: space-between;

      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span{
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }

      &:nth-child(2) {
        display: flex;
        //justify-content: flex-end;
        //align-items: flex-end;
        //padding-left: -15px;
        height: 33px;
        min-width: 60px;
      }
      &:last-child {
        background-color: colors.$action-secondary;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        height: 60px;
        width: 60px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        margin-bottom: -30px;
        margin-right: -75px;
        background: colors.$action-primary;
        transition: margin-right 500ms ease-in-out;
        &:hover {
          animation-delay: 1s;
        }
      }

      span {
       // display: flex;

        &[itemprop="name"] {
          font-weight: bold;
          width: 100%;
          overflow: hidden; 
          text-overflow: ellipsis;
          white-space: nowrap;
      
        }
        &[itemprop="description"] {
          font-size: 0.8rem;
          font-weight: lighter;
          //overflow-wrap: break-word;
          white-space: nowrap;
          overflow: hidden; 
          text-overflow: ellipsis;
      
        }

        &[itemprop="offers"] {
          display: flex;
          align-content: end;
          align-items: end;
        }
      }
    }
  }
}

// Because my team love 🫶 camelCase 🐫 ===================== Neah ===//
