//============================================= OC-03 OHMYFOOD =======//
// GLOBAL SCSS VAR & RULES ===========================================//
//==============================================================2023==//
@import "main";
@import "header";
:root{
    box-sizing: border-box;
    margin: 0;
    padding: auto;
}

//============================================= OC-03 OHMYFOOD =======//
// LOCALIZE ==========================================================//
//==============================================================2023==//



